<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuisine Control</title>
    <link rel="icon" type="image/png" href="images/cuisine-control_logo.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/menu-display.css}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- header -->
<header class="header bg-white shadow fixed-top">
    <div class="main">
        <div class="main-navbar">
            <a th:href="@{/home}" class="go-back-icon">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
            <form th:action="@{/menu}" method="get" class="search">
                <input type="text" placeholder="Search" name="search">
                <button type="submit" class="search-btn">Search</button>
            </form>
            <div class="profile">
                <a th:href="@{/cart}" class="cart">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </a>

            </div>
        </div>
    </div>
</header>

<div class="heading" style="margin-top: 170px;">
    <h1 class="d-flex justify-content-center">Menu</h1>
</div>

<!-- fast food section -->
<section class="fast-food-items section-custom" th:each="category: ${categories}">
    <div class="container">
        <h2 th:text="${category}"></h2>
        <hr>
        <div class="drinks-container d-flex justify-content-around">
            <div th:each="item : ${items}" th:if="${item.category.toLowerCase() == category.toLowerCase()}" class="card">
                <div class="custom-image bg-white shadow" th:style="'background-image: url(' + ${item.photoURL} +' );'"></div>
                <div class="container">
                    <h4><b th:text="${item.name}"></b></h4>
<!--                    <p>Item Description</p>-->
                    <p th:text="'Price = ' + ${item.price}"></p>

                    <form method="post" th:action="@{/addToCart/{itemId}(itemId=${item.id})}" class="d-flex justify-content-between mb-2" >

                        <button type="submit" class="custom-cart-button" >Add To Cart</button>

                        <div class="input-group plus-minus-input">
                            <div class="input-group-button">
<!--                                <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">-->
<!--                                    <i class="fa fa-minus" aria-hidden="true"></i>-->
<!--                                </button>-->
                            </div>

<!--                            <span th:utext="${#lists.contains(cart.items.![foodItem.name], item.name) ? ${#lists.indexOf(cart.items.![foodItem.name],item.name)} : '0'}" class="input-group-field input-group-field-custom" style="border-radius: 20px;"></span>-->
                            <div class="input-group-button">
<!--                                <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">-->
<!--                                    <i class="fa fa-plus" aria-hidden="true"></i>-->
<!--                                </button>-->
                            </div>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</section>


<!--final footer-->
<footer id="footer" class="footer-custom">
    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="fa fa-map-marker icon me-2"  style="color: whitesmoke; margin-top: 3.5px;"></i>
                <div>
                    <h4>Address</h4>
                    <p>
                        Plot-852-b, Milad Street <br>
                        Faisal Town, B-Block - PK<br>
                    </p>
                </div>

            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="fa fa-phone icon me-2" style="color: whitesmoke; margin-top: 5px;"></i>
                <div>
                    <h4>Reservations</h4>
                    <p>
                        <strong>Phone:</strong> +92 3324244033 <br>
                        <strong>Email:</strong> l221234@lhr.nu.edu.pk <br>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links d-flex">
                <i class="fa fa-clock-o icon me-2" style="color: whitesmoke; margin-top: 5px;"></i>
                <div>
                    <h4>Opening Hours</h4>
                    <p>
                        <strong>Mon-Sat: 11AM</strong> - 23PM<br>
                        Sunday: Closed
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Follow Us</h4>
                <div class="social-links social-links-custom d-flex">
                    <a href="https://twitter.com/i/flow/signup?lang=en" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.facebook.com/"  target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/"  target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="https://pk.linkedin.com/"  target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <hr>
    <hr>

    <div class="container end-of-footer">
        <div class="d-flex justify-content-center">
            <div class="copyright">
                © Copyright <strong><span>Cuisine Control</span></strong>. All Rights Reserved
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="credits credits-custom" style="color: white;">
                Designed by <a href="https://google.com/"  target="_blank">Fastian</a>
            </div>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
